<app-user-header></app-user-header>
<section>
    <div class=" container" style="margin-top: 10px;">
        <div class="row">
            <div class="col-md-8" style="border:2px double black; ">
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6" style="margin-bottom: 10px;">
                        
                            <div class="hovereffect">
                                <img class="img-responsive" src="assets/images/pic7.jpg" alt="">
                                <div class="overlay">
                                 
                                </div>
                            </div>
                        </div>
                    
                    <div class="col-md-6" style="margin-bottom: 10px;">
                        <div class="hovereffect">
                            <img class="img-responsive" src="assets/images/pic8.jpg" alt="">
                            <div class="overlay">
                             
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6" style="margin-bottom: 10px;">
                        <div class="hovereffect">
                            <img class="img-responsive" src="assets/images/home1.jpg" alt="">
                            <div class="overlay">
                             
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 10px;">
                        <div class="hovereffect">
                            <img class="img-responsive" src="assets/images/home2.jpg" alt="">
                            <div class="overlay">
                             
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            
            <div class="col-md-3" style="margin-left: 30px;">
                <div class="myform form ">
                    <div class="logo mb-3">
                       <div class="col-md-12 text-center">
                          <h1 >Quick Search</h1>
                       </div>
                    </div>
                    <form action="#" name="registration">
                       <div class="form-group">
                          <label for="exampleInputEmail1">Age</label>
                          <input type="number"  name="MinAge"  class="form-control" min="0"  id="MinAge" >&nbsp;to&nbsp;
                          <input type="number"  name="MaxAge"  class="form-control" min="0"  id="MaxAge" >
                          
                       </div>
                      
                        <label for="reg_height">Height :<br></label><select name="reg[height]" class="form-control" tabindex="8" id="reg_height" >
                            
                            <option value="" selected="selected" placeholder="Please Select">Please Select</option>
                            <option value="1">4' 0" (1.22 mts)</option>
                            <option value="2">4' 1" (1.24 mts)</option>
                            <option value="3">4' 2" (1.28 mts)</option>
                            <option value="4">4' 3" (1.31 mts)</option>
                            <option value="5">4' 4" (1.34 mts)</option>
                            <option value="6">4' 5" (1.35 mts)</option>
                            <option value="7">4' 6" (1.37 mts)</option>
                            <option value="8">4' 7" (1.40 mts)</option>
                            <option value="9">4' 8" (1.42 mts)</option>
                            <option value="10">4' 9" (1.45 mts)</option>
                            <option value="11">4' 10" (1.47 mts)</option>
                            <option value="12">4' 11" (1.50 mts)</option>
                            <optgroup label="&nbsp;"></optgroup>
                            <option value="13">5' 0" (1.52 mts)</option>
                            <option value="14">5' 1" (1.55 mts)</option>
                            <option value="15">5' 2" (1.58 mts)</option>
                            <option value="16">5' 3" (1.60 mts)</option>
                            <option value="17">5' 4" (1.63 mts)</option>
                            <option value="18">5' 5" (1.65 mts)</option>
                            <option value="19">5' 6" (1.68 mts)</option>
                            <option value="20">5' 7" (1.70 mts)</option>
                            <option value="21">5' 8" (1.73 mts)</option>
                            <option value="22">5' 9" (1.75 mts)</option>
                            <option value="23">5' 10" (1.78 mts)</option>
                            <option value="24">5' 11" (1.80 mts)</option>
                            <optgroup label="&nbsp;&nbsp;"></optgroup>
                            <option value="25">6' 0" (1.83 mts)</option>
                            <option value="26">6' 1" (1.85 mts)</option>
                            <option value="27">6' 2" (1.88 mts)</option>
                            <option value="28">6' 3" (1.91 mts)</option>
                            <option value="29">6' 4" (1.93 mts)</option>
                            <option value="30">6' 5" (1.96 mts)</option>
                            <option value="31">6' 6" (1.98 mts)</option>
                            <option value="32">6' 7" (2.01 mts)</option>
                            <option value="33">6' 8" (2.03 mts)</option>
                            <option value="34">6' 9" (2.06 mts)</option>
                            <option value="35">6' 10" (2.08 mts)</option>
                            <option value="36">6' 11" (2.11 mts)</option>
                            <optgroup label="&nbsp;&nbsp;&nbsp;"></optgroup>
                            <option value="37">7' (2.13 mts) plus</option>
                            </select>
                            <br>

                            <label for="reg_height">Marital Status :<br></label><select name="reg[height]" class="form-control" tabindex="8" id="reg_height" >
                            
                                <option value="" selected="selected" placeholder="Please Select">Please Select</option>
                                <option value="1">Never Married</option>
                                <option value="2">Married</option>
                                <option value="3">Awaiting Divorce</option>
                                <option value="4">Divorced</option>
                                <option value="5">Widowed</option>
                                <option value="6">Annulled</option>
                                </select>
                                <br>
                                <div class="col-md-12 text-center mb-3">
                                    <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Search</button>
                                 </div>
                    </form>
                 </div>              
            </div>
        </div>
    </div>

</section>
<br>

<section>
        <div class="jumbotron " style="padding: 1rem .9rem; text-align: center; border: 1px solid;">
            <h1 style="margin-bottom: 5px;font-size: 30px;">Featured Profile</h1>
        </div>
        
            <div class="container-fluid" style="margin-bottom: 15px;">
                <div class="col-md-12 ">
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                    <div class="card h-100">
                        <img class="
                        card-img-top" src="assets/images/profile3.jpg">
                      <div class="card card-body">      
                        <h2 class="card-title" style="text-decoration-line: none;color: black;">Shabnam Naaz</h2>
                      </div>
                      <div class="card-footer">
                         <p class="card-text" style="color:black;"><br>Age: 27 <br>Education: Post-graduate<br>Location: J&K</p>
                        <a href=""><button class="btn btn-primary">View Profile</button></a>
                      </div>
                    </div>
                    </div>
                    <div class="col-md-2 col-xs-12">
                    <div class="card h-100">
                        <img class="
                        card-img-top" src="assets/images/profile4.jpg">
                      <div class="card card-body">      
                        <h2 class="card-title" style="text-decoration-line: none;color: black;">Mo.Zeeshan</h2>
                      </div>
                      <div class="card-footer">
                         <p class="card-text" style="color:black;"><br>Age: 28<br>Education: Graduate<br>Location: Delhi</p>
                        <a href=""><button class="btn btn-primary">View Profile</button></a>
                      </div>
                    </div>
                    </div>
                    <div class="col-md-2 col-xs-12">
                    <div class="card h-100">
                        <img class="
                        card-img-top" src="assets/images/profile6.jpg">
                      <div class="card card-body">      
                        <h2 class="card-title" style="text-decoration-line: none;color: black;">Mo.Imran</h2>
                      </div>
                      <div class="card-footer">
                         <p class="card-text" style="color:black;"><br>Age: 26<br>Education: Graduate<br>Location: Raipur</p>
                        <a href=""><button class="btn btn-primary">View Profile</button></a>
                      </div>
                    </div>
                    </div>
                    <div class="col-md-2 col-xs-12">
                    <div class="card h-100">
                        <img class="
                        card-img-top" src="assets/images/profile7.jpg">
                      <div class="card card-body">      
                        <h2 class="card-title" style="text-decoration-line: none;color: black;">Abdul Razzaq</h2>
                      </div>
                      <div class="card-footer">
                         <p class="card-text" style="color:black;"><br>Age: 33<br>Education: High School<br>Location: Nagpur</p>
                        <a href=""><button class="btn btn-primary">View Profile</button></a>
                      </div>
                    </div>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <div class="card h-100">
                            <img class="
                            card-img-top" src="assets/images/profile5.jpg">
                          <div class="card card-body">      
                            <h2 class="card-title" style="text-decoration-line: none;color: black;">Anabiya Khan</h2>
                          </div>
                          <div class="card-footer">
                             <p class="card-text" style="color:black;"><br>Age: 27<br>Education: Graduate<br>Location: Hyderabad</p>
                            <button class="btn btn-primary" routerLink="/ViewProfile" >View Profile</button>
                          </div>
                        </div>
                        </div>
                    <div class="col-md-2 col-xs-12">
                    <div class="card h-100">
                        <img class="
                        card-img-top" src="assets/images/profile9.jpg">
                      <div class="card card-body">      
                        <h2 class="card-title" style="text-decoration-line: none;color: black;">Shirin Khan</h2>
                      </div>
                      <div class="card-footer">
                         <p class="card-text" style="color:black;"><br>Age: 24<br>Education: Graduate<br> Location: Mumbai</p>
                        <button class="btn btn-primary" >View Profile</button>
                      </div>
                    </div>
                    </div>

                </div>
                </div>

                

            </div>
        


    
</section>
<router-outlet></router-outlet>
<app-footer></app-footer>