<app-header></app-header>
<section class="banner layer" id="home">
	<div class="container" style="margin-bottom: 70px;">
        <div class="row" >
        <div class="col-md-8">
		<div class="banner-text">
			<div class="slider-info mb-4">
				<div class="banner-heading">
					<h3 style="font-size: 20px;">
						Your wedding adventure starts here
					</h3>
				</div>
				<a> Plan Your Wedding</a>
			</div>
        </div>
    </div>
    <div class="col-md-4" style="margin-top: 20px;">
        
                <div class="mx-auto">
                <div id="first">
                    <div class="myform form ">
                         <div class="logo mb-3">
                             <div class="col-md-12 text-center">
                                <h1>Login</h1>
                             </div>
                        </div>
                       <form action="" method="post" name="login">
                               <div class="form-group">
                                  <label for="exampleInputEmail1">Email address</label>
                                  <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                               </div>
                               <div class="form-group">
                                  <label for="exampleInputEmail1">Password</label>
                                  <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                               </div>
                               <div class="form-group">
                                  <p class="text-center">By signing up you accept our <a href="#">Terms Of Use</a></p>
                               </div>
                               <div class="col-md-12 text-center ">
                                  <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm" routerLink="/home">Login</button>
                               </div>
                               <div class="col-md-12 ">
                                  <div class="login-or">
                                     <hr class="hr-or">
                                     <span class="span-or">or</span>
                                  </div>
                               </div>
                               <div class="col-md-12 mb-3">
                                  <p class="text-center">
                                     <a href="#" class="google btn mybtn"><i class="fa fa-google">
                                     </i> Login using Google
                                     </a>
                                  </p>
                               </div>
                               <div class="form-group">
                                  <p class="text-center">Don't have account? <a (click)="signUp()" id="signup" style="color: blue;">Sign up here</a></p>
                               </div>
                            </form>
                     
                    </div>
                </div>
                  <div id="second">
                      <div class="myform form ">
                            <div class="logo mb-3">
                               <div class="col-md-12 text-center">
                                  <h1 >Signup</h1>
                               </div>
                            </div>
                            <form action="#" name="registration">
                               <div class="form-group">
                                  <label for="exampleInputEmail1">First Name</label>
                                  <input type="text"  name="firstname" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="Enter Firstname">
                               </div>
                               <div class="form-group">
                                  <label for="exampleInputEmail1">Last Name</label>
                                  <input type="text"  name="lastname" class="form-control" id="lastname" aria-describedby="emailHelp" placeholder="Enter Lastname">
                               </div>
                               <div class="form-group">
                                  <label for="exampleInputEmail1">Email address</label>
                                  <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                               </div>
                               <div class="form-group">
                                  <label for="exampleInputEmail1">Password</label>
                                  <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                               </div>
                               <div class="col-md-12 text-center mb-3">
                                  <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Get Started</button>
                               </div>
                               <div class="col-md-12 ">
                                  <div class="form-group">
                                     <p class="text-center"><a (click)="Login()" id="signin" style="color: blue;">Already have an account?</a></p>
                                  </div>
                               </div>
                            </form>
                         </div>              
          </div>
    </div>
    </div>
    </div>
</div>
</section>
 <section class="welcome py-5" id="welcome">
	<div class="container py-md-5">
		<h3 class="heading text-capitalize text-center mb-lg-5 mb-4" style="font-size: 40px;"> we will plan every detail of your wedding </h3>
		<div class="row welcome-grids">
			<div class="col-lg-4 mb-lg-0 mb-5">
				<h4 class="left-heading" style="font-size: 25px;">Our Weddings Story</h4>
				<p class="mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				<div class="welcome-button mt-4">
					<a href="#">Read More</a>
				</div>
			</div>
			  <div class="col-lg-4 col-sm-6">
				<div class="image1 mb-4">
				<h4>Hair / Makeup</h4>
					<p class="mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div class="image1">
				<h4>Venue & Catering</h4>
					<p class="mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 mt-sm-0 mt-4">
				<div class="image1 mb-4">
				<h4>Photo / Video </h4>
					<p class="mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
				<div class="image1">
				<h4>Flowers & Music</h4>
					<p class="mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div> 
		</div>
	</div>
</section>
<section class="images" style="margin-bottom: 70px;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2 col-md-4 col-sm-6  bg-img1" style="padding-left: inherit;padding-right: inherit;">
				<h4></h4>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-6 bg-img2" style="padding-left: inherit;padding-right: inherit;">
				<h4></h4>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-6 bg-img3" style="padding-left: inherit;padding-right: inherit;">
				<h4></h4>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-6 bg-img4" style="padding-left: inherit;padding-right: inherit;">
				<h4></h4>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-6 bg-img5" style="padding-left: inherit;padding-right: inherit;">
				<h4></h4>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-6 bg-img6" style="padding-left: inherit;padding-right: inherit;">
				<h4></h4>
			</div>
		</div>
	</div>
</section>
<router-outlet></router-outlet>
<app-footer></app-footer>


<!-- <section class="subscribe text-center bg-light py-5">
	<div class="container p-sm-3">
		<h3 class="heading mb-2"> Subscribe Newsletter </h3>
		<p class="mb-5">Signup and recieve 15% on your First Plan.</p>
		<form action="#" method="post">
			<input class="form-control" type="email" placeholder="Your Email Address" name="Subscribe" required="">
			<button class="btn1">
				<span class="fa fa-paper-plane"></span>
			</button>
		</form>
	</div>
</section> -->